<?xml version="1.0"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>
    <job>
      <name>MySuperJob</name>
      <group>MyCustomGroupJobs</group>
      <description>The description of the job.</description>
      <job-type>Quartz.QuickStart.ConfigScheduleJob, Quartz.QuickStart</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>MyCustomJobTrigger</name>
        <group>MyCustomGroupJobs</group>
        <description>The description of the trigger.</description>
        <job-name>MySuperJob</job-name>
        <job-group>MyCustomGroupJobs</job-group>
        <!-- every 15 minutes -->
        <!--<cron-expression>0 0/15 * * * ?</cron-expression>-->
        <!-- every 10 seconds -->
        <cron-expression>0/10 * * * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>

</job-scheduling-data>